
 /* body{
background-color: #fed460;
background-color: #ea5455;
background-color: #f07b3f;
background-color: #2d4059;
background-color: #4e4e6a;
background-color: #1f6cb0;
background-color: #70a3c4;
background-color: #4e4e6a;
background-color: #f73f52;
background-color: #feea85;
background-color: #e6af2e;
background-color: #feff03;
background-color:#fdb36b;
background-color:#fd7b54;
}  */

*{
    margin: 10px;
    padding:10px;
    box-sizing: border-box;
}

/* @media (min-width: 1025px) and (max-width: 1200px)  { */
   /* .container{
     
    } */

   .header , .section , .footer{
    background-color: black;
  }

   .menu{
    background-color: #2d4059;
   }

   .logo, .nav, .social{
    background-color: #ea5455;
   }

    .main-title{
    background-color:#f07b3f;
}

    h1{
    background-color:#fed460;
}

    .article{
    background-color:#4e4e6a;
}

    .title, .text{
    background-color: #1f6cb0;
}

    .article-par{
    background-color:#70a3c4;
}

    .aside{
    background-color: #f73f52;
}

    aside>h3{
    background-color: #feea85;
 }

    aside>p{
    background-color: #feea85;
 }

    .footer-p{
    background-color: #e6af2e;
}
    
/* } */
  
  
  
  
   /* @media (min-width: 768px) and (max-width: 1024px) {

    
  }
  
 

  
  @media (min-width: 320px) and (max-width: 767px) {
    

    
  } 
   */
  