*{
    margin: 10px;
    padding:10px;
    box-sizing: border-box;
    max-width: 1200px;
}

.container{
    display: flex;
    flex-direction: column;
   } 
   
.header , .section , .footer{
    background-color: black;
  }

.menu{
    background-color: #2d4059;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

.logo, .nav, .social{
    background-color: #ea5455;
   }

.logo, .social{
    width: 15%;
   }

.nav{
    width: 70%;
   }

.main-title{
    background-color:#f07b3f;
}

h1{
    background-color:#fed460;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main{
    background-color:#4e4e6a;
    width: 70%;
    padding: initial;
}

.title, .text{
    background-color: #1f6cb0;
    width: 100%;
    margin-left: 0px;  
}

.text{
    margin-top: 20px;
    margin-bottom: 10px;
}

.article{
    width: 100%;
    margin: 0px;
}

.article-par{
    background-color:#70a3c4;
    margin-bottom: 20px;
}

.articles{
    display: flex;
    flex-direction: row;
    margin: initial;
    padding: initial;
}

.aside{
    background-color: #f73f52;
    width: 30%;
}

aside>h3{
    background-color: #feea85;
   
 }

aside>p{
    background-color: #feea85;
  
 }

.footer-p{
    background-color: #e6af2e;
}
    
 
@media (min-width: 768px) and (max-width: 1024px) {

    .section{
        background-color: #feff03;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .main , .aside{
        padding: 0px 10px;
        width:98%
    }
    .article-par{
        margin-top :0;
    }
    
    .aside{
        padding: 10px;
    }
  }
  
  @media (min-width: 320px) and (max-width: 767px) {

    .menu{
        flex-direction: column;
        padding: 10px 15px;
     }

     .logo, .nav, .social{
        width:98%;
       margin-left: 0;
     
       }
       .section{
        background-color: #feff03;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        
    }
    .aside{
        background-color:#fd7b54 ;
        width: 98%;
        
    }
    aside>h3{
        background-color: #fdb36b;
       
     }
    
    aside>p{
        background-color: #fdb36b;
      
     }
     .main{
        background-color:#09506f;
        width: 98%;
        margin: 10px 10px;
        padding: 0 10px;
    }
    .title, .text{
        background-color: #61959c;
        width: 100%;
        margin-left: 0px;  
    }
    .articles{
        flex-direction: column;
    
    }
    .article{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top:5px;
    }
  } 
   
  