*{
    margin: 10px;
    padding:10px;
    box-sizing: border-box;
    max-width: 1200px;
}

.container{
    display: flex;
    flex-direction: column;
   } 
   
.header , .section , .footer{
    background-color: black;
  }

.menu{
    background-color: #2d4059;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

.logo, .nav, .social{
    background-color: #ea5455;
   }

.logo, .social{
    width: 15%;
   }

.nav{
    width: 70%;
   }

.main-title{
    background-color:#f07b3f;
}

h1{
    background-color:#fed460;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main{
    background-color:#4e4e6a;
    width: 70%;
    padding: initial;
    display: flex;
    flex-direction: column;
}

.title, .text{
    background-color: #1f6cb0;
    width: 100%;
    margin-left: 0px;  
}

.text{
    margin-top: 20px;
    margin-bottom: 10px;
}

.article{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.article-par{
    background-color:#70a3c4;
    margin : 0px 20px 20px 20px;
}

.articles{
    display: flex;
    flex-direction: row;
     margin:0px;
    padding: 0px; 
}

.aside{
    background-color: #f73f52;
    width: 30%;
}

aside>h3{
    background-color: #feea85;
   
}

aside>p{
    background-color: #feea85; 
}

.footer-p{
    background-color: #e6af2e;
}   
 
@media (min-width: 768px) and (max-width: 1024px) {

    .section{
        background-color: #feff03;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main , .aside{
        padding: 0px;
        width:100%
    }

    .article-par{
        margin-top :0;
    }
    
    .aside{
        padding: 10px;
    }
}
  
@media (min-width: 320px) and (max-width: 767px) {

    .menu{
        flex-direction: column;
        padding: 10px 15px; 
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
    }

    .logo, .nav, .social{
        width:100%; 
        padding: 10px;
    } 

    .section{
        background-color: #feff03;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 10px 20px;
    }

    .main , .aside{
        width:100%;
        justify-content: center;
        align-items: center;
    }

    .aside{
        background-color:#fd7b54 ;
    }

    aside>h3{
        background-color: #fdb36b;
    }
    
    aside>p{
        background-color: #fdb36b;
    }

    .main{
        background-color:#09506f;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px 10px;
        padding: 0 10px; 
    }

    .title, .text{
        background-color: #61959c;
        width: 100%;
        margin-left: 0px;  
    }

    .articles{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .article{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top:10px;
    }

     .article-par{
        background-color: #a3ddcb;
        width: 100%;
       margin-top: 10px; 
    } 

} 
   
  